body {
    font-family: Verdana, sans-serif;
    font-size: 22px;
}

#playerLP, #playerLog, #playerWins {
    color: blue;
}

#oppLP, #oppLog, #oppWins {
    color: red;
}

#notes {
    display: none;
}